# Hypothesis Testing

In [ ]:
# Given Data
# Weekly Operating Costs Model W= $1000+$5X
# Sample Mean X_bar=3050
# Number of units produced in a week (X) follows a normal distribution with a mean (μ) of 600 units and a standard deviation (σ) of 25 units

# State the Hypotheses statement

In [4]:
# Ho: Weekly Operating costs are not Higher
# Ha: Weekly Operating Costs are higher

# Calculate the Test Statistic

In [8]:
import numpy as np

In [ ]:
# z-score=(X_bar-pop_mean)/(std_dev/sqrt(n))

In [38]:
x_bar=3050
pop_mean=1000+(5*600)
std_dev=125
n=25

In [40]:
z_score=(x_bar-pop_mean)/(std_dev/np.sqrt(n))
z_score

-38.0

# Determine the Critical Value

In [17]:
# alpha=5% 
# Confidence Interval = 0.95
# here we need to find the critical value, for that you have take confidence value = 0.975

In [19]:
import scipy.stats as stats

In [31]:
t_critical=stats.norm.ppf(0.975)
t_critical

1.959963984540054

# Make a Decision

In [42]:
# Test Statistic value Z_score=-38.0
# Critical value is 1.9599
# since the z_score not lies in the boundary value i.e z_score < critical value
# -38.0 < -1.959

# Conclusion

In [1]:
# Since the calculated test statistic (-38.0) is much less than the critical value (1.9599), we fail to reject the null hypothesis.
# Based on the analysis, there is no strong evidence to support the restaurant owners' claim 
# that the weekly operating costs are higher than the model suggests. ​

# Chi-Square Test

# State the Hypothesis

In [102]:
# Ho: There is no Association between the type of device purchased and the customer's satisfaction level
# Ha: There is Association between the type of device purchased and the customer's satisfaction level

# Compute the Chi-Square Statistic

In [24]:
import pandas as pd
import scipy.stats as stats

In [78]:
dict1={'Satisfaction':['Very Satisfied','Satisfied','Neutral','Unsatisfied','Very Satisfied'],'Smart Thermostat':[50,80,60,20,30],'Smart Light':[70,100,90,50,50]}

In [82]:
df1=pd.DataFrame(dict1)
df1

     Satisfaction  Smart Thermostat  Smart Light
0  Very Satisfied                50           70
1       Satisfied                80          100
2         Neutral                60           90
3     Unsatisfied                20           50
4  Very Satisfied                30           50

In [88]:
numerical_data=df1[['Smart Thermostat','Smart Light']]
numerical_data

   Smart Thermostat  Smart Light
0                50           70
1                80          100
2                60           90
3                20           50
4                30           50

In [90]:
chi_test=stats.chi2_contingency(numerical_data)
chi_test

Chi2ContingencyResult(statistic=5.638227513227513, pvalue=0.22784371130697179, dof=4, expected_freq=array([[ 48.,  72.],
       [ 72., 108.],
       [ 60.,  90.],
       [ 28.,  42.],
       [ 32.,  48.]]))

In [93]:
# Here we got chi-square value is 5.638

# Determine the Critical Value:

In [ ]:
#  Degrees of freedom=(4-1)*(2-1)=4

In [96]:
k=stats.chi2.ppf(0.95,4)
k

9.487729036781154

In [99]:
# Here we got the value of critical value is 9.4877

# Make a Decision

In [ ]:
# chi_statistic value lies before the Critical Value 
# Then Chi-Square Statistic < Critical Value
# So we can say it Fail to reject
# There is no Association between the type of device purchased and the customer's satisfaction level